.btn{
    border: none;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    transition: background-color .3s;
  
    &.resume{
      background-color: variables.$primary-color;
      color: white;
    }
  
    &:hover{
      background-color: lightyellow;
      color: variables.$primary-color;
    }
  }