.fa{
  width: 50px;
  text-align: center;
  text-decoration: none;
  
  &.fa-external-link {
    font-size: 25px;
  }

  &.fa-twitter {
    font-size: 30px;
  }
  &.fa-github {
    font-size: 30px;
  }
  &.fa-linkedin {
    font-size: 30px;
  }
  &.fa-bars {
    font-size: 1.5em;
  }
}


.fa:hover {
   opacity: 0.7;
  }