@use 'variables';
@import "project-container";
@import "button";
@import "fa";

.container{
  background-image: url("../images/background-image.png");
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100vh;
}

.section-description{
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1em;
}

p{
  font-family: variables.$paragraph-font;
}

ul{
  padding: 0;
}

#initial-greeting{
  position: absolute; 
  top: 50%;
  left: 35%;
  transform: translate(-50%, -35%);
  font-family: 'Inconsolata', monospace;
  max-width:50%;
  height: auto;
  width: auto;
  
}

#initial-greeting h1{
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

#initial-greeting-description{
  max-width: 70%;
  font-size: 18px;
}

body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: variables.$heading;
}

#navbar-logo{
  margin-left: 8px;
}
.navbar-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;

  li a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
    font-family: variables.$code-font;
    font-size: 1em;
    transition: color .3s;
  }

  li a:hover{
    color: grey;
  }
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 10;
  box-shadow: 0 0 5px rgb(175, 175, 175);
  #navbar-logo{
    padding: 0;
    z-index: 1100000000;
  }
}


#Education{
  background-image: url("../images/background-image-flipped.png");
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100vh;
  margin: 0;
  color: black;
  h2{
    text-align: center;
    font-size: 3em;
  }
}

#Education p{
  font-size: 1.5em;
  text-align: justify;
}

#Software-Projects{
  background-color: variables.$primary-color;
  width: 100%;
}

@media (min-width: 992px) {
  #project-container .project-card{
    flex-direction: row;
  }
}




