#project-container {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#project-container .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  transition: 0.3s;
}
#project-container .project-card h4 {
  font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-size: 1.5em;
}
#project-container .project-card img {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#project-container .project-card .technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  list-style-type: none;
}
#project-container .project-card .technologies .technologies-item {
  font-size: 0.75em;
  padding: 7px;
  margin: 5px;
  background: #333;
  color: #cfcfcf;
  border-radius: 5px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
}
#project-container .project-card .text-container {
  background-color: white;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0px 10px 10px 0px;
  text-align: left;
  transition: 0.3s;
}
#project-container .project-card .text-container .text-wrapper {
  margin: 10px;
}
#project-container .project-card .text-container a {
  text-decoration: none;
}
#project-container .project-card .text-container p {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}
#project-container .project-card .text-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
.btn.resume {
  border-color: #ffd400;
  background-color: white;
  color: #9b870c;
}
.btn:hover {
  background-color: lightyellow;
  color: #ffd400;
}

.fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa.fa-external-link {
  font-size: 25px;
}
.fa.fa-twitter {
  font-size: 30px;
}
.fa.fa-github {
  font-size: 30px;
}
.fa.fa-linkedin {
  font-size: 30px;
}
.fa.fa-bars {
  font-size: 1.5em;
}

.fa:hover {
  opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url("../images/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 80vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container #initial-greeting {
  font-family: "Inconsolata", monospace;
  width: 100%;
}
.container #initial-greeting h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}
.container #initial-greeting h2 {
  color: #22333B;
}
.container #initial-greeting p {
  color: #22333B;
}
.container #initial-greeting #initial-greeting-description {
  max-width: 70%;
  font-size: 18px;
}

ul {
  padding: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
}

h2 {
  font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  text-align: left;
  font-size: 3em;
}

#navbar-logo {
  padding: 0px 8px;
  z-index: 1100000000;
}

#navbar-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar-links .item {
  width: 100%;
  text-align: center;
  padding: 14px 5px;
  display: none;
  order: 2;
}
#navbar-links .item.active {
  display: block;
}
#navbar-links .toggle {
  order: 1;
  padding: 14px 8px;
}
#navbar-links li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  font-size: 1em;
  transition: color 0.3s;
}
#navbar-links li a:hover {
  color: grey;
}

nav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 7px 0px;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px #afafaf;
}

#AboutMe {
  background-color: #EAE0D5;
  width: 100%;
  margin: 0;
  padding: 5vh 0;
  color: black;
}
#AboutMe h2 {
  margin-left: 5vw;
}
#AboutMe .aboutme-container {
  display: block;
  justify-content: space-between;
  margin: 0 6vw;
}
#AboutMe .aboutme-container .description {
  width: 100%;
  text-align: justify;
  border-radius: 5px;
  padding: 1vw;
}
#AboutMe .aboutme-container .description em {
  text-decoration: none;
  color: #a197f7;
  font-weight: bold;
  font-style: normal;
}
#AboutMe .aboutme-container .description #mySkills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style-type: none;
}
#AboutMe .aboutme-container img {
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  margin: auto;
}
#AboutMe .aboutme-container li {
  color: white;
}
#AboutMe .aboutme-container p {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 1.1em;
  text-align: justify;
  overflow: hidden;
}

.technologies-item {
  font-size: 0.75em;
  padding: 7px;
  margin: 5px;
  background: #333;
  color: #cfcfcf;
  border-radius: 5px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
}

#Software-Projects {
  background-color: #22333B;
  width: 100%;
  margin: 0;
  padding: 5vh 0;
}
#Software-Projects h2 {
  margin-left: 5vw;
  color: white;
}
#Software-Projects #otherProjects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
#Software-Projects #otherProjects-container .otherProject {
  background-color: white;
  border: 1px solid #E2E2E2;
  border-radius: 0.5rem;
}

footer {
  text-align: center;
}
footer p {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  margin: 30px;
}
footer .icon {
  display: inline-block;
  margin: 6px;
}
footer .fab {
  color: black;
}
footer .fab:hover {
  transition: 0.3s;
  color: lightgray;
}

@media (min-width: 992px) {
  #project-container .project-card {
    flex-direction: row;
  }
}
@media (min-width: 750px) {
  #AboutMe .aboutme-container {
    display: flex;
    align-items: center;
  }
  #AboutMe .aboutme-container .description {
    width: 50%;
  }
  #AboutMe .aboutme-container img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 16px;
  }
}
@media (min-width: 600px) {
  #navbar-links {
    justify-content: center;
  }
  #navbar-links .item {
    display: block;
    width: auto;
    order: 1;
    padding: 14px;
  }
  #navbar-links .toggle {
    display: none;
  }
  #navbar-links #navbar-logo {
    flex: 1;
    order: 1;
  }
}

/*# sourceMappingURL=style.css.map */
